[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pytest = "==3.8.1"
mypy = "*"

[packages]
zeep = "==4.0.0"
pytest = "*"
urllib3 = ">=1.26.6"
lxml = ">=4.6.3"

[requires]
python_version = "3.6"
